{%- set badgeKey = field.value.value|default(field.value|default('')) -%}
{%- set color = {
    'none': 'secondary',
    'creating': 'info',
    'diagnosing': 'primary',
    'provisioning': 'info',
    'cert_pending': 'warning',
    'ready': 'success',
    'failed': 'danger',
    'deleted': 'secondary',
    'stopped': 'warning'
}[badgeKey] ?? 'secondary' -%}
{%- if badgeKey == 'none' -%}
    <span></span>
{%- else -%}
    <span class="badge bg-{{ color }}">{{ field.formattedValue|default(field.value)|trans|raw }}</span>
{%- endif -%}
